In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.1'

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [11]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [30]:
# Q2. Records count
# Get the number of records (rows)
record_count = df.shape[0]

print("Number of records:", record_count)

Number of records: 9704

In [18]:
# Question 3. Get unique fuel types and their number
unique_fuel_types = df['fuel_type'].unique()
number_of_unique_fuel_types = df['fuel_type'].nunique()
print(unique_fuel_types)
print(number_of_unique_fuel_types)

['Gasoline' 'Diesel']
2

In [31]:
# Q4. Missing values
# How many columns in the dataset have missing values?

# Count missing values per column
missing_values_per_column = df.isna().sum()

# Count columns with at least one missing value
columns_with_missing = (missing_values_per_column > 0).sum()

print("Number of columns with missing values:", columns_with_missing)

Number of columns with missing values: 4

In [23]:
# Question 5. Find the maximum fuel efficiency of cars from Asia?
# Filter for cars from Asia
asia_cars = df[df['origin'] == 'Asia']
# Find the maximum fuel efficiency for Asia cars
max_fuel_efficiency_asia = asia_cars['fuel_efficiency_mpg'].max()

print("Maximum fuel efficiency for cars from Asia (mpg):", max_fuel_efficiency_asia)

Maximum fuel efficiency for cars from Asia (mpg): 23.759122836520497

In [25]:
# Question 6. Calculate the median horsepower, excluding missing values
# 1. Find the median value of horsepower column in the dataset.
# 2. Next, calculate the most frequent value of the same horsepower column.
# 3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
# 4. Now, calculate the median value of horsepower once again.
# 5. Has it changed?

# Step 1: Calculate the median of horsepower (excluding missing values)
original_median = df['horsepower'].dropna().median()
print("Original median horsepower:", original_median)

# Step 2: Calculate the most frequent value (mode) of horsepower
mode_horsepower = df['horsepower'].mode()[0]  # mode() returns a Series, take the first value
print("Most frequent horsepower value (mode):", mode_horsepower)

# Step 3: Fill missing values in horsepower with the mode
df['horsepower_filled'] = df['horsepower'].fillna(mode_horsepower)

# Step 4: Calculate the median of horsepower after filling missing values
new_median = df['horsepower_filled'].median()
print("Median horsepower after filling missing values:", new_median)

# Step 5: Check if the median has changed
if new_median == original_median:
    print("The median has not changed.")
    result = "C. No"
elif new_median > original_median:
    print("The median has increased.")
    result = "A. Yes, it increased"
else:
    print("The median has decreased.")
    result = "B. Yes, it decreased"

print("Answer:", result)

Original median horsepower: 149.0
Most frequent horsepower value (mode): 152.0
Median horsepower after filling missing values: 152.0
The median has increased.
Answer: A. Yes, it increased

In [29]:
import numpy as np
# Q7. Sum of weights
# Step 1: Select cars from Asia
asia_cars = df[df['origin'] == 'Asia']

# Step 2: Select only vehicle_weight and model_year columns
asia_subset = asia_cars[['vehicle_weight', 'model_year']]

# Step 3: Select the first 7 rows
asia_first_7 = asia_subset.head(7)

# Step 4: Convert to NumPy array (X)
X = asia_first_7.to_numpy()

# Step 5: Compute XTX = X^T * X and its inverse
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)

# Step 6: Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Step 7: Compute w = (XTX^-1) * X^T * y
w = XTX_inv @ X.T @ y

# Step 8: Compute the sum of elements in w
w_sum = np.sum(w)

print("Sum of elements in w:", w_sum)

Sum of elements in w: 0.5187709081074016