# Homework 3: Classification

In [1]:
! wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv

--2025-10-12 21:06:50--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80876 (79K) [text/plain]
Saving to: ‘course_lead_scoring.csv’

course_lead_scoring 100%[===================>]  78.98K  --.-KB/s    in 0.002s

2025-10-12 21:06:50 (42.5 MB/s) - ‘course_lead_scoring.csv’ saved [80876/80876]

In [12]:
import pandas as pd

df = pd.read_csv('course_lead_scoring.csv')
display(df.head())

# Verify no missing values
display(df.isnull().sum())

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

# Data preparation
* Check if the missing values are presented in the features.
* If there are missing values:
    * For caterogiral features, replace them with 'NA'
    * For numerical features, replace with with 0.0

In [20]:
# Identify categorical and numerical features
numerical_features = []
categorical_features = []

for col in df.columns:
    if df[col].dtype in ['int64', 'float64']:
        numerical_features.append(col)
    else:
        categorical_features.append(col)

print("Numerical Features:", numerical_features)
print("Categorical Features:", categorical_features)

# Impute missing values in categorical features with 'NA'
for col in categorical_features:
    df[col].fillna('NA', inplace=True)

# Impute missing values in numerical features with 0.0
for col in numerical_features:
    df[col].fillna(0.0, inplace=True)

Numerical Features: ['number_of_courses_viewed', 'annual_income', 'interaction_count', 'lead_score', 'converted']
Categorical Features: ['lead_source', 'industry', 'employment_status', 'location']

/tmp/ipykernel_13390/1010499473.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(0.0, inplace=True)

In [21]:
# Verify no missing values
display(df.isnull().sum())

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

# Question 1
What is the most frequent observation (mode) for the column industry?
* `NA`
* `technology`
* `healthcare`
* `retail`

In [22]:
df.nunique()

lead_source                    6
industry                       8
number_of_courses_viewed      10
annual_income               1268
employment_status              5
location                       8
interaction_count             12
lead_score                   101
converted                      2
dtype: int64

In [28]:
# Show value counts to verify
print("\nValue counts for 'industry':")
print(df['industry'].value_counts().head())

# Find the mode of the 'industry' column
industry_mode = df['industry'].mode()[0]
print(f"\nQ1: Most frequent observation in 'industry': {industry_mode}")

Value counts for 'industry':
industry
retail        203
finance       200
other         198
healthcare    187
education     187
Name: count, dtype: int64

Q1: Most frequent observation in 'industry': retail